#canvasDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0; z-index: 0;
}

#draftCanvas{
    position: absolute;
    left: 0; top: 0; z-index: 1;
}

#finalCanvas{
    position: absolute;
    left: 0; top: 0; z-index: 2;
}


#baselineCanvas{
    position: absolute;
    left: 0; top: 0; z-index: 0;
}

.editingTool{
    position: absolute;
    left: 0; top: 0; z-index: 5;
    width: 30px; height:30px;
    content: url("../img/icons/moveOn.png");
}